# Ignore these files:
cov.out
cov.sort
cover.out
covs.out
spexlu_demo
spexlu_demo.c
tcov_test
demos.c
SPEX_calloc.c
SPEX_matrix_div.c
spex_cast_array.c
spex_cast_matrix.c
SPEX_check_solution.c
SPEX_create_default_options.c
spex_create_mpfr_array.c
spex_create_mpq_array.c
spex_create_mpz_array.c
SPEX_cumsum.c
spex_expand_double_array.c
spex_expand_mpfr_array.c
spex_expand_mpq_array.c
SPEX_finalize.c
SPEX_free.c
SPEX_gmp.c
SPEX_initialize.c
SPEX_initialize_expert.c
SPEX_LU_analysis_free.c
SPEX_LU_analyze.c
SPEX_malloc.c
SPEX_matrix_allocate.c
SPEX_matrix_check.c
SPEX_matrix_copy.c
SPEX_matrix_free.c
SPEX_matrix_mul.c
SPEX_matrix_nnz.c
SPEX_realloc.c
spex_sparse_collapse.c
spex_sparse_realloc.c
SPEX_Left_LU_analyze.c
SPEX_Left_LU_backslash.c
spex_left_lu_back_sub.c
spex_left_lu_dfs.c
SPEX_Left_LU_factorize.c
spex_left_lu_forward_sub.c
spex_left_lu_get_largest_pivot.c
spex_left_lu_get_nonzero_pivot.c
spex_left_lu_get_pivot.c
spex_left_lu_get_smallest_pivot.c
spex_left_lu_permute_b.c
spex_left_lu_permute_x.c
spex_left_lu_reach.c
spex_left_lu_ref_triangular_solve.c
SPEX_Left_LU_solve.c
SPEX_determine_symmetry.c
SPEX_transpose.c
