# Ignore these files:
*.o
*.so.*
*.so
*.dylib
*.a
*.obj
*.ln
*.bb
*.bbg
*.da
*.tcov
*.gcov
gmon.out
*.bak
*.d
*.gcda 
*.gcno 
*.aux 
*.bbl 
*.blg 
*.log 
*.toc 
*.dvi 
*.lof 
*.lot
*.dll 
*.dSYM
*.out
*.gcda
*.gcno
*.mex*
*.profile
*.swp
.DS_Store
.nfs*
.pyc
*.tmp
*.idea
*.dylib
cmake-build-debug*
CMakeFiles*
*~

*/build/*
**/.venv/*

# Do not ignore this file
!.gitignore

