build/*
Lib/*
*.mex*
Matrix/*.s
Matrix/*.tar.gz
Matrix/*.csv
.DS_Store
MATLAB/plots/*
MATLAB/*.png
MATLAB/*.o*
.idea/*
cmake-build-debug*
Doc/Figures/BrotherlyMatching-eps-converted-to.pdf
Doc/Figures/CommunityMatching-eps-converted-to.pdf
Doc/Figures/MultilevelOverview-eps-converted-to.pdf
Doc/Mongoose_UserGuide.aux
Doc/Mongoose_UserGuide.bbl
Doc/Mongoose_UserGuide.blg
Doc/Mongoose_UserGuide.idx
Doc/Mongoose_UserGuide.log
Doc/Mongoose_UserGuide.out
Doc/Mongoose_UserGuide.toc
*.o
*.a
.DS_Store
