# Ignore these files:
SPEX_calloc.o
SPEX_matrix_div.o
spex_cast_array.o
spex_cast_matrix.o
SPEX_check_solution.o
SPEX_create_default_options.o
spex_create_mpfr_array.o
spex_create_mpq_array.o
spex_create_mpz_array.o
SPEX_cumsum.o
spex_expand_double_array.o
spex_expand_mpfr_array.o
spex_expand_mpq_array.o
SPEX_finalize.o
SPEX_free.o
SPEX_gmp.o
SPEX_initialize.o
SPEX_initialize_expert.o
SPEX_LU_analysis_free.o
SPEX_LU_analyze.o
SPEX_malloc.o
SPEX_matrix_allocate.o
SPEX_matrix_check.o
SPEX_matrix_copy.o
SPEX_matrix_free.o
SPEX_matrix_mul.o
SPEX_matrix_nnz.o
SPEX_realloc.o
spex_sparse_collapse.o
spex_sparse_realloc.o
SPEX_determine_symmetry.o
SPEX_transpose.o
